<form [formGroup]="postForm">
  <mat-form-field class="example-full-width">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Titulo" formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput placeholder="Titulo" formControlName="description" required></textarea>
  </mat-form-field>
</form>
<div style="margin-top: 1em; text-align: center;">
    <button type="button" class="btn btn-outline-danger btnModalCorreo" (click)="cerrar()">Cerrar</button>
    <button type="button" class="btn btn-primary btnModalCorreo" (click)="guardar()">Enviar</button>
</div>